current_blueprint.json
{
  "code": "OK",
  "response": {
    "blueprint": {
      "flow": [
        {
          "id": 1,
          "mapper": {},
          "module": "gateway:CustomWebHook",
          "version": 1,
          "metadata": {
            "designer": {
              "x": 0,
              "y": 0
            },
            "parameters": [
              {
                "name": "hook",
                "type": "hook:gateway-webhook",
                "label": "Webhook",
                "required": true
              },
              {
                "name": "maxResults",
                "type": "number",
                "label": "Maximum number of results"
              }
            ]
          },
          "parameters": {
            "hook": 2606897,
            "maxResults": 1
          }
        },
        {
          "id": 3,
          "mapper": {
            "url": "https://api.z-api.io/instances/3EDCE29A3EB0A1453F66FAF4F663B13A/token/Ff94d05bcd8b546afb957fc52d8e33ebaS/send-{{1.message.type}}",
            "data": "{\n  \"phone\": \"{{1.to.phone}}\",\n  \"delayMessage\": 1,\n  {{if(1.message.type = \"text\"; \"\\\"message\\\": \\\"\" + 1.message.text + \"\\\"\"; \n    if(1.message.type = \"image\"; \"\\\"image\\\": \\\"\" + 1.message.image + \"\\\", \\\"caption\\\": \\\"\" + 1.message.caption + \"\\\"\"; \n    if(1.message.type = \"audio\"; \"\\\"audio\\\": \\\"\" + 1.message.audio + \"\\\"\"; \n    if(1.message.type = \"video\"; \"\\\"video\\\": \\\"\" + 1.message.video + \"\\\", \\\"caption\\\": \\\"\" + 1.message.caption + \"\\\"\"; \n    if(1.message.type = \"document\"; \"\\\"document\\\": \\\"\" + 1.message.document + \"\\\", \\\"fileName\\\": \\\"\" + 1.message.fileName + \"\\\", \\\"caption\\\": \\\"\" + 1.message.caption + \"\\\"\"; \n    \"\\\"message\\\": \\\"Unsupported type: \" + 1.message.type + \"\\\"\"\n    )))))}}\n}",
            "gzip": true,
            "method": "post",
            "headers": [
              {
                "key": "Content-Type",
                "value": "application/json"
              },
              {
                "key": "Client-Token",
                "value": "Ff94d05bcd8b546afb957fc52d8e33ebaS"
              }
            ],
            "useMtls": false,
            "bodyType": "raw",
            "contentType": "application/json",
            "serializeUrl": false,
            "shareCookies": false,
            "parseResponse": true,
            "followRedirect": true,
            "useQuerystring": false,
            "followAllRedirects": false,
            "rejectUnauthorized": true
          },
          "module": "http:ActionSendData",
          "version": 3,
          "metadata": {
            "expect": [
              {
                "name": "url",
                "type": "url",
                "label": "URL",
                "required": true
              },
              {
                "name": "serializeUrl",
                "type": "boolean",
                "label": "Serialize URL",
                "required": true
              },
              {
                "name": "method",
                "type": "select",
                "label": "Method",
                "required": true,
                "validate": {
                  "enum": [
                    "get",
                    "head",
                    "post",
                    "put",
                    "patch",
                    "delete",
                    "options"
                  ]
                }
              },
              {
                "name": "headers",
                "spec": [
                  {
                    "name": "name",
                    "type": "text",
                    "label": "Name",
                    "required": true
                  },
                  {
                    "name": "value",
                    "type": "text",
                    "label": "Value"
                  }
                ],
                "type": "array",
                "label": "Headers"
              },
              {
                "name": "qs",
                "spec": [
                  {
                    "name": "name",
                    "type": "text",
                    "label": "Name",
                    "required": true
                  },
                  {
                    "name": "value",
                    "type": "text",
                    "label": "Value"
                  }
                ],
                "type": "array",
                "label": "Query String"
              },
              {
                "name": "bodyType",
                "type": "select",
                "label": "Body type",
                "validate": {
                  "enum": [
                    "raw",
                    "x_www_form_urlencoded",
                    "multipart_form_data"
                  ]
                }
              },
              {
                "name": "parseResponse",
                "type": "boolean",
                "label": "Parse response",
                "required": true
              },
              {
                "name": "authUser",
                "type": "text",
                "label": "User name"
              },
              {
                "name": "authPass",
                "type": "password",
                "label": "Password"
              },
              {
                "name": "timeout",
                "type": "uinteger",
                "label": "Timeout",
                "validate": {
                  "max": 300,
                  "min": 1
                }
              },
              {
                "name": "shareCookies",
                "type": "boolean",
                "label": "Share cookies with other HTTP modules",
                "required": true
              },
              {
                "name": "ca",
                "type": "cert",
                "label": "Self-signed certificate"
              },
              {
                "name": "rejectUnauthorized",
                "type": "boolean",
                "label": "Reject connections that are using unverified (self-signed) certificates",
                "required": true
              },
              {
                "name": "followRedirect",
                "type": "boolean",
                "label": "Follow redirect",
                "required": true
              },
              {
                "name": "useQuerystring",
                "type": "boolean",
                "label": "Disable serialization of multiple same query string keys as arrays",
                "required": true
              },
              {
                "name": "gzip",
                "type": "boolean",
                "label": "Request compressed content",
                "required": true
              },
              {
                "name": "useMtls",
                "type": "boolean",
                "label": "Use Mutual TLS",
                "required": true
              },
              {
                "name": "contentType",
                "type": "select",
                "label": "Content type",
                "validate": {
                  "enum": [
                    "text/plain",
                    "application/json",
                    "application/xml",
                    "text/xml",
                    "text/html",
                    "custom"
                  ]
                }
              },
              {
                "name": "data",
                "type": "buffer",
                "label": "Request content"
              },
              {
                "name": "followAllRedirects",
                "type": "boolean",
                "label": "Follow all redirect",
                "required": true
              }
            ],
            "restore": {
              "expect": {
                "qs": {
                  "mode": "chose"
                },
                "method": {
                  "mode": "chose",
                  "label": "POST"
                },
                "headers": {
                  "mode": "chose",
                  "items": [
                    null,
                    null
                  ]
                },
                "bodyType": {
                  "label": "Raw"
                },
                "contentType": {
                  "label": "JSON (application/json)"
                }
              }
            },
            "designer": {
              "x": 311,
              "y": -5
            },
            "parameters": [
              {
                "name": "handleErrors",
                "type": "boolean",
                "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                "required": true
              },
              {
                "name": "useNewZLibDeCompress",
                "type": "hidden"
              }
            ]
          },
          "parameters": {
            "handleErrors": true,
            "useNewZLibDeCompress": true
          }
        },
        {
          "id": 5,
          "mapper": {
            "body": "{\"ok\":true,\"externalMessageId\":\"{{1.externalMessageId}}\",\"provider\":\"z-api\",\"status\":\"sent\",\"zapiResponse\":\"{{3.data}}\"}",
            "status": 200,
            "headers": [
              {
                "key": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "module": "gateway:WebhookRespond",
          "version": 1,
          "metadata": {
            "expect": [
              {
                "name": "status",
                "type": "uinteger",
                "label": "Status",
                "required": true,
                "validate": {
                  "min": 100
                }
              },
              {
                "name": "body",
                "type": "any",
                "label": "Body"
              },
              {
                "name": "headers",
                "spec": [
                  {
                    "name": "key",
                    "type": "text",
                    "label": "Key",
                    "required": true,
                    "validate": {
                      "max": 256
                    }
                  },
                  {
                    "name": "value",
                    "type": "text",
                    "label": "Value",
                    "required": true,
                    "validate": {
                      "max": 4096
                    }
                  }
                ],
                "type": "array",
                "label": "Custom headers",
                "validate": {
                  "maxItems": 16
                }
              }
            ],
            "restore": {
              "expect": {
                "headers": {
                  "mode": "chose",
                  "items": [
                    null
                  ]
                }
              }
            },
            "advanced": true,
            "designer": {
              "x": 650,
              "y": 0
            }
          },
          "parameters": {
            "status": 200
          }
        }
      ],
      "name": "trae-outbox-make",
      "metadata": {
        "instant": true,
        "version": 1,
        "designer": {
          "orphans": [],
          "samples": {
            "1": {
              "text": {
                "message": "Oi"
              },
              "type": "ReceivedCallback",
              "phone": "556282176148",
              "photo": "https://pps.whatsapp.net/v/t61.24694-24/321201700_25830610529887831_5271108313038658538_n.jpg?ccb=11...",
              "fromMe": false,
              "isEdit": false,
              "status": "RECEIVED",
              "chatLid": "24391253536892@lid",
              "fromApi": false,
              "isGroup": false,
              "momment": 1770582141000,
              "chatName": "Lorena Lopes",
              "broadcast": false,
              "forwarded": false,
              "messageId": "AC9BF55D1A0F44BA22E01E15C5FB8B8B",
              "instanceId": "3EDCE29A3EB0A1453F66FAF4F663B13A",
              "senderName": "Lorena Provázio",
              "senderPhoto": null,
              "isNewsletter": false,
              "_traceContext": {
                "spanId": "203624c682e37881",
                "traceId": "b4bb562ca900a93e1fd65a045d3ec1d7"
              },
              "isStatusReply": false,
              "connectedPhone": "556231901280",
              "participantLid": null,
              "waitingMessage": false,
              "messageExpirationSeconds": 0
            },
            "3": {
              "data": {
                "ok": true
              },
              "headers": [
                {
                  "name": "alt-svc",
                  "value": "h3=\":443\"; ma=86400"
                }
              ],
              "fileSize": 11,
              "statusCode": 200,
              "cookieHeaders": []
            },
            "5": {
              "data": {
                "lid": "24391253536892@lid",
                "name": "Lorena Lopes",
                "about": "Se urgente, ligue!",
                "phone": "556282176148",
                "short": "Lorena",
                "vname": "Lorena Lopes",
                "imgUrl": "https://pps.whatsapp.net/v/t61.24694-24/321201700_25830610529887831_5271108313038658538_n.jpg?ccb=11...",
                "verify": "0"
              },
              "headers": [
                {
                  "name": "strict-transport-security",
                  "value": "max-age=15724800; includeSubDomains"
                }
              ],
              "fileSize": 365,
              "statusCode": 200,
              "cookieHeaders": []
            }
          }
        },
        "scenario": {
          "slots": null,
          "maxErrors": 3,
          "autoCommit": true,
          "roundtrips": 1,
          "sequential": false,
          "freshVariables": false,
          "autoCommitTriggerLast": true
        }
      }
    },
    "scheduling": {
      "type": "immediately"
    },
    "concept": false,
    "created": "2026-02-07T18:22:09.356Z",
    "last_edit": "2026-02-09T01:09:28.866Z",
    "metadata": {
      "input_spec": [],
      "output_spec": []
    },
    "idSequence": 8
  }
}